################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CGT-215-Lab-05-mgrabczy/.vs/CGT-215-Lab-05-mgrabczy
